/* :root {
  --bgcolor: #f3fff9;
}

body {
  background-color: var(--bgcolor);
  margin: 0;
}

.home {
  background-image: url("../../images/Background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: sticky;
  height: 100vh;
}

.logo {
  max-width: 22%;
  padding-left: 8%;
  padding-top: 1%;
  height: auto;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 99%;
  width: 80%;
  text-align: left;
  margin: auto;
}

.card {
  width: 200px;
  height: auto;
  border: transparent;
  border-radius: 2%;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: rgba(0, 0, 0, 0);
}

.card img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  align-self: left;
}

.card-body {
  max-width: 99%;
  width: 80%;
  text-align: left;
  margin: auto;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-info li::before {
  padding-bottom: 24%;
}

#get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  background-color: #e8f4dc;
  border-radius: 15%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgba(0, 0, 0, 0);
  text-decoration: unset;
  color: #39825b;
  font-size: 100%;
} */
