.centered-button {
    display: block;
    margin: 0 auto;
    background-color:  #008558;
    color: white;
    text-decoration: none;
  }
  
  .green-button:hover {
    background-color: transparent;
    border-color: #2f4b3f;
    color: #2f4b3f;
  }
  
  a {
    text-decoration: none;
  }
  
  .larger-button {
    font-size: 20px;
    padding: 12px 24px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  
  
  .home {
    display: grid;
    place-items: center;
   
  }
  
  .home-title {
    font-size: 2rem;
    text-align: center;
    color: #2f4b3f;
  }

  .welcome {
    font-size: 3rem;
    color: #2F4B3F
  }
  
  #welcome-logo {
    
    max-width: 600px; 
    height: auto;
  }
  